<h1 class="title">Shai</h1>
<input type="text" name = "inputCsPlayer" id='inputNewCsPlayer' placeholder="Enter Player Name ..." [(ngModel)]="newCsPlayer" class="add-player-input" value="{{ newCsPlayer }} "/>
<button (click)="addNewPlayer()" value="Add Player" class="add-player-button">Add player</button>
<button (click)='addBot()' class="add-bot-button">Add bot</button>
<button (click)='removeBot()' class="remove-bot-button">Remove Bot</button>
<button (click)='removePlayer()' class="remove-player-button">Remove Player</button>
<div *ngFor='let csPlayer of csPlayers' class="cs-players-list">{{ csPlayer }}</div>
<div *ngFor='let newCsPlayer of newCsPlayers' class="added-cs-player-list">{{ newCsPlayer }}</div>
<div *ngFor='let newBot of createdBots' class="added-bot-list">{{newBot}}</div>
<div>
    <h1>Contact Me</h1>
    <app-contact-form></app-contact-form>
</div>
<div>
    <app-api-fetch-button></app-api-fetch-button> 
</div>
